.containerCenter {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.containerStudent {
    width: 1000px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.infoStudent {
    display: flex;
    padding-top: 5px;
}

.infoStudDetails {
    text-align: left;
}

.titleUser {
    background-color: lightgrey;
}


.identityBtn {
    margin-bottom: 3px;
    width: 180px;
    padding: 10px 20px;
    border: none;
    color: white;
}

.identityBtnStudent {
    background-color: grey;
    border: 3px solid black;
    font-size: 15px;
}

.identityBtnResponsible {
    background-color: #2d3436;
}

@media (max-width: 800px) {
    .containerCenter {
        padding-top: 0px;
    }

    .containerStudent {
        text-align: center;
    }

    .identityBtn {
        margin-bottom: 3px;
        width: 180px;
    }

    .infoStudent {
        flex-direction: column;
    }
}